
@{
    ViewData["Title"] = "Appraised";
}



<!DOCTYPE HTML>
<html>
<head>
    <title>Students4CheapTexts</title>
    <link rel="stylesheet" href="~/css/students.css" type="text/css" />
    
</head>
<body>
    <h1>Appraised</h1>
    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise Again</a></li>
    </ul>

    <h3>@ViewData["Message"]</h3>
    <h3>@ViewData["Appraise"]</h3>
</body>
</html>