@{
    ViewData["Title"] = "Home Page";
}



@{
    ViewData["Title"] = "Appraise";
}


<!DOCTYPE HTML>
<html>
<head>
    <title>Students4CheapTexts</title>
    <link rel="stylesheet" href="~/css/students.css" type="text/css" />
</head>
<body>
    <center><h1>Student4CheapText</h1></center>
    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise</a></li>
    </ul>

    <center><h2>About</h2></center>

    <center><h4><p>Student4CheapTextbooks is a student group focused on bringing you the cheapest  
    possible price for the textbook. Did you know, that the average student spends $600
    on textbooks per Semester. Our Focus is to try and bring that down. If you have a used
    textbook to sell,click on the appraise button in the nav bar above and we will get you
    a price!</p></h4></center>


</body>
</html>

